**Data Structures** in pandas:<br>
    1. Series: 1D array
    2. DataFrame: 2D
    3. Panel: 3D 
    
Reference: http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html

**Creating a Series**

In [18]:
import pandas as pd

In [19]:
#Create a series of the number of floodingReport

floodingReports = pd.Series([5, 6, 2, 9, 12])
floodingReports

0     5
1     6
2     2
3     9
4    12
dtype: int64

In [20]:
#Set county names to be the index of the floodingReports series

floodingReports = pd.Series([5, 6, 2, 9, 12], index=['Cochise County', 'Pima County', 'Santa Cruz County', 'Maricopa County', 'Yuma County'])
floodingReports

Cochise County        5
Pima County           6
Santa Cruz County     2
Maricopa County       9
Yuma County          12
dtype: int64

In [21]:
#print no. of flooding reports in Cochise Country
floodingReports['Cochise County']

5

In [22]:
#Create a pandas series from a dictionary

# Create a dictionary
fireReports_dict = {'Cochise County': 12, 'Pima County': 342, 'Santa Cruz County': 13, 'Maricopa County': 42, 'Yuma County' : 52}

# Convert the dictionary into a pd.Series, and view it
fireReports = pd.Series(fireReports_dict)
fireReports

Cochise County        12
Pima County          342
Santa Cruz County     13
Maricopa County       42
Yuma County           52
dtype: int64

In [23]:
# how to change the index of a series to shorter names or overwrite the index names
fireReports.index = ["Cochice", "Pima", "Santa Cruz", "Maricopa", "Yuma"]
fireReports

Cochice        12
Pima          342
Santa Cruz     13
Maricopa       42
Yuma           52
dtype: int64

In [24]:
#Data Frame

data = {'county': ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'], 
        'year': [2012, 2012, 2013, 2014, 2014], 
        'reports': [4, 24, 31, 2, 3]}
df = pd.DataFrame(data)
df

       county  year  reports
0     Cochice  2012        4
1        Pima  2012       24
2  Santa Cruz  2013       31
3    Maricopa  2014        2
4        Yuma  2014        3

In [25]:
dfColumnOrdered = pd.DataFrame(data, columns=['county', 'year', 'reports'])
dfColumnOrdered

       county  year  reports
0     Cochice  2012        4
1        Pima  2012       24
2  Santa Cruz  2013       31
3    Maricopa  2014        2
4        Yuma  2014        3

In [26]:
#Add a columns:
dfColumnOrdered['newsCoverage'] = pd.Series([42.3, 92.1, 12.2, 39.3, 30.2])
dfColumnOrdered

       county  year  reports  newsCoverage
0     Cochice  2012        4          42.3
1        Pima  2012       24          92.1
2  Santa Cruz  2013       31          12.2
3    Maricopa  2014        2          39.3
4        Yuma  2014        3          30.2

In [27]:
#Delete column
del dfColumnOrdered['newsCoverage']
dfColumnOrdered

       county  year  reports
0     Cochice  2012        4
1        Pima  2012       24
2  Santa Cruz  2013       31
3    Maricopa  2014        2
4        Yuma  2014        3

In [28]:
#Transpose the dataframe
dfColumnOrdered.T

               0     1           2         3     4
county   Cochice  Pima  Santa Cruz  Maricopa  Yuma
year        2012  2012        2013      2014  2014
reports        4    24          31         2     3